gunicorn==20.1.0
Flask
Flask-Bootstrap
Flask-Ckeditor
Flask-Sqlalchemy
Flask-Login
Flask-Gravatar
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
visitor
Werkzeug
Flask-WTF
dominate
click
colorama
blinker
greenlet
visitor
typing-extensions
WTForms